@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
  background-color: slategrey;
}

.formlabel {
  @apply text-[1rem] font-bold  text-start mt-2
}


.formerror {
  @apply text-red-600 mt-3 text-sm text-start px-2
}

.forminput {
  @apply mt-4 rounded-full h-[2.5rem] w-[18rem] px-4 bg-violet-100 border-2 hover:border-violet-600 active:border-violet-700 focus:outline-none focus:ring-1 focus:ring-violet-300
}

.overflowcustom {
  @apply overflow-y-auto 
  [&::-webkit-scrollbar]:w-2
  [&::-webkit-scrollbar-track]:bg-gray-100
  [&::-webkit-scrollbar-thumb]:bg-gray-300 
  dark:[&::-webkit-scrollbar-track]:bg-neutral-700
  dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500
}

.headerregister {
  @apply bg-gradient-to-r from-pink-600 via-pink-500 to-indigo-400 text-transparent bg-clip-text pt-3 text-center text-3xl font-bold
}

.headerregistercomplete {
  @apply bg-gradient-to-r from-green-600 via-green-500 to-indigo-400 text-transparent bg-clip-text pt-3 text-center text-3xl font-bold
}